<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
</head>
<body>
  <div class="container" id="cupcake-list">
    <h1>Your Cupcakes!</h1>
      <ul>

      </ul>
  </div>
  <div class="container">
    <!-- TODO: Method or action declaration? -->
    <form id="create-cupcake-form" class="cupcake-form">
      <h4>Create Cupcake</h4>
      <div class="flavor-input">
        <label for="flavor">Cupcake Flavor</label>
        <input id="flavor" type="text" required>
      </div>
      <div class="size-input">
        <label for="size">Cupcake Size</label>
        <input id="size" type="text" required>
      </div>
      <div class="rating-input">
        <label for="rating">Cupcake Rating</label>
        <input id="rating" type="number" required>
      </div>
      <div class="image-url-input">
        <label for="image-url">Cupcake Image</label>
        <input id="image-url" type="url">
      </div>
      <button type="submit" id="cupcake-submit">Create Cupcake</button>
    </form>
  </section>
  </div>
<script src="js/cupcakes.js"></script>
</body>
</html>